<div class="card" style="margin-top: 40px; height: 300px; width: 700px; margin-left: auto; margin-right: auto">
  <div class="card-header">
    Bem vindo ao PIPA-UFPRE: Plataforma Integrada de Periódicos e Artigos
  </div>
  <div class="card-body">
    <h5 class="card-title">Busque por autores dentro da nossa universidade</h5>
    <p class="card-text">Na versão atual, o PIPA está integrado com o Google Schoolar</p>
    <div style="text-align: center;">
      <img src="assets/Images/books.png" style="height: 150px; padding-left: auto; padding-right: auto">
    </div>
  </div>
</div>

