<!-- Toolbar -->
 <!--Navbar blue-->
  
<nav class="navbar navbar-dark"  style="background-color: #162d54;">
    <img src="assets/Images/Brasão_UFRPE.png" style="height: 80px;">
  
   <form class="form-inline">
    <input class="form-control mr-sm-3" style= "width: 350px" type="search" placeholder="Digite o nome de um pesquisador aqui" aria-label="Search" [formControl]= "queryField">
    <button class="btn btn-primary" type="submit" (click)="onSearch()" style="background-color: ">Buscar</button>
  </form>
</nav>

<router-outlet></router-outlet>